{% extends "layout.html" %}

{% block htmltitle %}<title>Control-Escape{{ titlesuffix }}</title>{% endblock %}
{% block title %}Control-Escape{% endblock %}

{% block body -%}
<h1>Linux</h1>
<p>Control-Escape is a useful guide for the new user, Linux hobbyist, home user, or "tiny enterprise" (if your business is you and your letterhead, you're a tiny enterprise). We will try to help you decide whether Linux is for you, and if so, we'll try to guide you through some of the complexities that often trip up the new or non-technical user. Control-Escape's <a href="/linux/contents.html">Linux Guide</a> is made especially to introduce Linux to users of popular desktop operating systems (Windows and Mac OS).
</p>
<p>Control-Escape will help you take <b>control</b> of your computer and
<b>escape</b> the restrictions of monopoly commercial software. If you are
interested in saving money, being more creative, or preserving and
exercising your freedom of choice, then welcome to the world of Open
Software!
</p>
<p>Good luck with your Linux adventure!</p>

<h2>Control</h2>
<ul>
<li>Choose from several desktop environments.</li>
<li>Run your own web server or email server.</li>
<li>Modify software to work the way you want.</li>
<li>Make copies for your friends, <i>legally</i>.</li>
</ul>
<h2>Escape</h2>
<ul>
<li>No exorbitant licensing fees.</li>
<li>No monopoly vendor.</li>
<li>No email viruses!</li>
<li>No blue screen of death!</li>
</ul>
{%- endblock %}
