{% extends "layout.html" %}
{% block title %}Linux Help Search Results{% endblock %}
{% block body -%}
	<!-- Google Search Result Snippet Begins -->
    <div id="cse" style="width: 100%;">
      <script>
        (function() {
          var cx = '004553175044610565612:wskczmomqli';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchresults-only></gcse:searchresults-only>
    </div>
	<!-- Google Search Result Snippet Ends -->
{%- endblock %}
{% block sidebar2 -%}
{% endblock %}
{% block contentfooter -%}
{% endblock %}
