{% extends "layout.html" %}
{% block htmltitle %}<title>Linux Books recommended by Control-Escape</title>{% endblock %}
{% block title %}Linux Books{% endblock %}
{% block document -%}
<iframe src="http://astore.amazon.com/controlescape-20" width="100%" height="1500" frameborder="0" scrolling="no"><p>It looks like your browser does not support inline frames. We thought we should warn you that you might have some trouble viewing the <a href="http://astore.amazon.com/control-escape20">Book Shop</a>.</p></iframe>
{%- endblock %}
{% block sidebar1 -%}
{% endblock %}
{% block sidebar2 -%}
{% endblock %}
{% block contentfooter -%}
{% endblock %}

